.container {
    width: 50%;
    max-width: 850px;
    margin: 0 auto;
  }

.containerB{
    width: 85%;
    max-width: 850px;
    margin: 200 auto;
}

.containerc{
  width: 150%;
  max-width: 2000px;
  margin: 200 auto;
}
  
  .header {
    background: #333;
    color: white;
    padding: 2rem 0;
  
    /* hacer el menu fijo */
    position: fixed;
    left: 0;
    top: 0;
    /* ocuapamos todo el ancho */
    right: 0;
  }
  
  .header a {
    color: white;
    text-decoration: none;
  }
  
  .logo-nav-container {
    display: flex;
    justify-content: space-between;
    /* lo alineamos al centro */
    align-items: center;
  
    flex-wrap: wrap;
  }
  
  /* logo */
  .logo {
    letter-spacing: 15px;
    font-size: 1.3em;
  }
  
  .menu-icon {
    display: none;
  }
  
  /* todos los "ul" que esten dentro de "navigation" */
  .navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .navigation ul li {
    /* uno al lado del otro */
    display: inline-block;
  }
  
  /* los enlaces dentro del menu */
  .navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.2s linear;
    border-radius: 5px;
  }
  
  .navigation ul li a:hover {
    background: #cc4444;
  }
  
  .main {
    padding-top: 12rem;
  }

  div.noticia {
    width: 25%;
    margin: 20px auto;
    background-color: #449;
    color: #fff;
    padding: 15px;
  }
  
  div.noticia img.izquierda {
    float: left;
    margin-right: 15px;
  }
  
  div.noticia img.derecha {
    float: right;
    margin-left: 15px;
  }
  
  div.reset {
    clear: both;
  }

  div.noticia2 {
    width: 30%;
    margin: 20px auto;
    background-color: #449;
    color: #fff;
    padding: 15px;
  }
  div.reset {
    clear: both;
  }